REACT_APP_API_AUTH=
REACT_APP_API_RECOLLECTOR=
REACT_APP_API_USERS=
REACT_APP_API_WASTE=
REACT_APP_API_LEVEL=
REACT_APP_API_ORDER=
REACT_APP_API_BLOG=

PUBLIC_URL="/university-project"

REACT_APP_TOKEN_WEB=""
REACT_APP_COOKIE_WEB=""

REACT_APP_GOOGLE_MAP_KEY=
